/* 公共设置 */
html,
body,
.gotop-container,
.gotop-container div {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

.gotop-container {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #fff;
}

.gotop-container a {
  width: 40px;
  height: 40px;
  line-height: 38px;
  border: 1px solid #c9c9c9;
  margin: 2px 0;
  display: block;
  box-sizing: border-box;
  text-align: center;
}

.gotop-container a:hover {
  background-color: #ededed;
  color: #31c27c;
}
