/* index文件样式 */
body {
  height: 1200px;
}

/* 主页导航区 start */
nav {
  padding-left: 230px;
}
.index-nav {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.index-nav li {
  font-size: 15px;
  margin-right: 4.8%;
  color: #c1c1c1;
}
.index-nav li a {
  display: block;
  height: 51px;
  line-height: 51px;
}
.index-nav li a.current {
  color: #31c27c;
}
/* 主页导航区 end */

/* 主页内容 start */

/* 热门歌单 */
.mod-slide {
  margin-bottom: 20px;
}
.mod-playlist ul.playlist-list {
  display: flex;
  flex-direction: row;

  .playlist-item {
    width: 1.6%;
    padding-right: 20px;
    overflow: hidden;

    .playlist-item-box {
      width: 100%;
      overflow: hidden;

      .playlist-title {
        font-weight: 400;
        line-height: 22px;
      }

      .playlist-other {
        color: #999;
        overflow: hidden;
        height: 22px;
      }
    }
  }
}

// 新歌首发
.mod-index-song {
  .mod-btn {
    position: absolute;
    left: 0;
    top: initial;
    margin-top: -10px;

    .mod-btn-icon-play {
      width: 13px;
      height: 16px;
      background-position: -60px -220px;
    }
  }
}
.mod-songlist-hd .mod-index-tit {
  background-position: 0 -50px;
}

.songlist-item {
  width: 8%;
  display: inline-block;
}
.songlist-item-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  li {
    width: 33.33%;

    .songlist-item-box {
      height: 86px;
      padding-top: 12px;
      font-size: 14px;
      margin: -1px 30px 13px 0;
      border-top: 1px solid #f2f2f2;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      .mod-cover-link {
        width: 86px;
        height: 86px;
      }
      .songlist-cont {
        max-width: 50%;
        margin-left: 10px;
        flex: 1;

        .js-song {
          font-size: 14px;
        }
      }
    }

    .mod-cover-icon-play {
      background-size: 68%;
      background-repeat: no-repeat;
      background-position: 50%;
    }
  }
}
.songlist-song {
  padding-bottom: 2px;
}
.songlist-author {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}
.c-tx-thin {
  color: #999;
}
.songlist-time {
  margin-left: auto; // 保证其靠右对齐
}

// 精彩推荐
.mod-index-event {
  // 标题
  .mod-index-tit {
    background-position: 0 -100px;
  }
}
.event-list {
  display: flex;
  flex-direction: row;

  .event-list-item {
    width: 4%;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .event-list-link {
    display: block;
  }
  .event-list-pic {
    width: 100%;
  }
}

// 新碟首发
.mod-index-album {
  .album-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .album-list-item {
    box-sizing: border-box;
    width: 20%;
    padding: 0 0 25px 20px;
  }

  .album-list-cover {
    width: 100%;
    margin-bottom: 15px;
  }
}

// 排行榜
.mod-index-top {
  .mod-index-tit {
    background-position: 0 -200px;
  }
  .toplist-list {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .index-more {
    top: 56px;
  }
}

.toplist-list-item {
  width: 20%;
  box-sizing: border-box;
  padding-right: 20px;

  .toplist-box {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;

    .toplist-bg,
    .mod-cover-icon-play,
    .toplist-line,
    .toplist-hd,
    .toplist-songlist {
      position: absolute;
    }

    &:hover {
      .toplist-bg {
        transform: scale(1.06) translateZ(0);
        -webkit-transform: scale(1.06) translateZ(0);
        transition: transform 0.75s;
        -webkit-transition: transform 0.75s;
      }
      .toplist-line {
        display: none;
      }
    }
  }

  .toplist-bg {
    width: 100%;
    height: 567px;
    z-index: -1;
    background-image: url(https://y.gtimg.cn/mediastyle/yqq/img/bg_index_top.jpg?max_age=2592000&v=3beef369200a0863560787fd560c8205);
    transform: scale(1) translateZ(0);
    -webkit-transform: scale(1) translateZ(0);
    transition: transform 0.75s;
    -webkit-transition: transform 0.75s;
  }

  .toplist-hd {
    width: 200px;
    top: 50px;
    left: 50%;
    margin-left: -100px;
    text-align: center;

    &::before {
      content: "";
      display: block;
      width: 66px;
      height: 22px;
      margin: 0 auto 9px;
      background-image: url(https://y.gtimg.cn/mediastyle/yqq/img/index_tit.png?max_age=2592000&v=c7310a1eb12fc9fce032314be79ad579);
      background-image: -webkit-image-set(url(https://y.gtimg.cn/mediastyle/yqq/img/index_tit.png?max_age=2592000&v=c7310a1eb12fc9fce032314be79ad579) 1x,
      url(https://y.gtimg.cn/mediastyle/yqq/img/index_tit@2x.png?max_age=2592000&v=c7310a1eb12fc9fce032314be79ad579&v=832652e82398ecb5a5cd2fed700baee2) 2x);
      background-position: 0 -300px;
    }

    .toplist-tit {
      height: 36px;
      line-height: 1;
      font-size: 26px;
      color: #fff;
      font-weight: 400;
    }
  }

  .toplist-line {
    top: 148px;
    width: 36px;
    height: 2px;
    background-color: #fff;
    left: 50%;
    margin-left: -18px;
  }

  .mod-cover-icon-play {
    top: 114px;
    margin-top: 0;
    margin-bottom: 0;
    background-size: 72%;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  .toplist-songlist {
    top: 188px;
    left: 28px;
    right: 28px;
    color: #fff;
    font-size: 14px;

    .toplist-song {
      position: relative;
      padding-left: 15px;
      margin-bottom: 27px;
    }
    .toplist-song-number {
      position: absolute;
      top: 0;
      left: 0;
    }
    .toplist-songname {
      text-overflow: ellipsis;
      margin-bottom: 5px;
      overflow: hidden;
    }
    a {
      color: #fff;
    }
  }

  &:nth-child(1) {
    .toplist-bg {
      background-position: 0 0;
    }
  }
  &:nth-child(2) {
    .toplist-bg {
      background-position: -224px 0;
    }
  }
  &:nth-child(3) {
    .toplist-bg {
      background-position: -448px 0;
    }
  }
  &:nth-child(4) {
    .toplist-bg {
      background-position: -672px 0;
    }
  }
  &:nth-child(5) {
    .toplist-bg {
      background-position: -896px 0;
    }
  }
}

// mv
.mod-index-mv {
  .mv-list{
    display: flex;
    flex-direction: row;
  }
  .mv-list-item {
    width: 8%;
    .playlist-list {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .playlist-item {
        width: 20%;
        padding-bottom: 25px;
      }
    }
  }

  .mv-list-listen{
    .mv-list-listen-icon{
      display: inline-block;
      width: 19px;
      height: 12px;
      margin-right: 5px;
      background-position: -180px -20px;
      vertical-align: -1px;
    }
  }
}

/* 主页内容 end */

/* 侧边栏回到顶部标签 */
#side-btn {
  font-size: 14px;
}
.side-gotop::before {
  margin: 14px 10px;
  display: block;
  content: "";
  width: 18px;
  height: 10px;
  background-image: url("../images/icon_sprite.png");
  background-position: -160px 0;
}
.side-player::before {
  margin: 11px 9px;
  display: block;
  content: "";
  width: 20px;
  height: 18px;
  background-image: url("../images/icon_sprite.png");
  background-position: -180px 0;
}

/* 当屏幕尺寸小于1240时将版心防止版心大小超过范围，同时调整margin */
@media (max-width: 1240px) {
  .w,
  .section-inner {
    min-width: 900px;
    margin: 0 50px;
  }
}
