/* index文件样式 */
body {
  height: 1200px;
}

/* 主页导航区 start */
nav {
  padding-left: 230px;
}
.index-nav {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.index-nav li {
  font-size: 15px;
  margin-right: 4.8%;
  color: #c1c1c1;
}
.index-nav li a {
  display: block;
  height: 51px;
  line-height: 51px;
}
.index-nav li a.current {
  color: #31c27c;
}
/* 主页导航区 end */

/* 主页内容 start */

/* 热门歌单 */
.mod-slide {
  margin-bottom: 20px;
}
.mod-playlist ul.playlist-list {
  display: flex;
  flex-direction: row;

  .playlist-item {
    width: 1.6%;
    padding-right: 20px;
    overflow: hidden;

    .playlist-item-box {
      width: 100%;
      overflow: hidden;

      .playlist-title {
        font-weight: 400;
        line-height: 22px;
      }

      .playlist-other {
        color: #999;
        overflow: hidden;
        height: 22px;
      }
    }
  }
}

// 新歌首发
.mod-index-song{
  .mod-btn{
    position: absolute;
    left: 0;
    top: initial;
    margin-top: -10px;

    .mod-btn-icon-play{
      width: 13px;
      height: 16px;
      background-position: -60px -220px;
    }
  }
}
.mod-songlist-hd .mod-index-tit {
  background-position: 0 -50px;
}

.songlist-item {
  width: 8%;
  display: inline-block;
}
.songlist-item-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  li {
    width: 33.33%;

    .songlist-item-box {
      height: 86px;
      padding-top: 12px;
      font-size: 14px;
      margin: -1px 30px 13px 0;
      border-top: 1px solid #f2f2f2;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      .mod-cover-link {
        width: 86px;
        height: 86px;
      }
      .songlist-cont {
        max-width: 50%;
        margin-left: 10px;
        flex: 1;

        .js-song {
          font-size: 14px;
        }
      }
    }

    .mod-cover-icon-play{
      background-size: 68%;
      background-repeat: no-repeat;
      background-position: 50%;
    }
  }
}
.songlist-song {
  padding-bottom: 2px;
}
.songlist-author {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}
.c-tx-thin {
  color: #999;
}
.songlist-time {
  margin-left: auto; // 保证其靠右对齐
}

// 精彩推荐
.mod-index-event{
  // 标题
  .mod-index-tit{
    background-position: 0 -100px;
  }
}
.event-list{
  display: flex;
  flex-direction: row;

  .event-list-item {
    width: 4%;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .event-list-link{
    display: block;
  }
  .event-list-pic{
    width: 100%;
  }
}

/* 主页内容 end */

/* 侧边栏回到顶部标签 */
#side-btn {
  font-size: 14px;
}
.side-gotop::before {
  margin: 14px 10px;
  display: block;
  content: "";
  width: 18px;
  height: 10px;
  background-image: url("../images/icon_sprite.png");
  background-position: -160px 0;
}
.side-player::before {
  margin: 11px 9px;
  display: block;
  content: "";
  width: 20px;
  height: 18px;
  background-image: url("../images/icon_sprite.png");
  background-position: -180px 0;
}

/* 当屏幕尺寸小于1240时将版心防止版心大小超过范围，同时调整margin */
@media (max-width: 1240px) {
  .w,
  .section-inner {
    min-width: 900px;
    margin: 0 50px;
  }
}
