/* index文件样式 */
body {
  height: 1200px;
}

/* 公共样式 start */
html,
body,
div,
ul,
li,
button,
i,
p,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea,
th {
  color: #000;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.5;
  font-family: poppin, Tahoma, Arial, \5fae\8f6f\96c5\9ed1, sans-serif;
  font-family: Tahoma, Arial, \5fae\8f6f\96c5\9ed1, sans-serif/9;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #31c27c;
  text-decoration: none;
}
i {
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none;
}
input {
  outline-style: none;
}

/* 精灵图背景 */
.sprite {
  background-image: url("../images/icon_sprite.png");
  background-image: -webkit-image-set(
    url("../images/icon_sprite.png") 1x,
    url("../images/icon_sprite@2x.png") 2x
  );
}
/* 精灵图背景 */

/* 版心 */
.w {
  max-width: 1200px;
  margin: 0 auto;
}
/* 版心 */

/* 公共样式 end */

/* 主页导航区 start */
header{
  padding-left: 230px;
}
.index-nav{
  display:flex;
  flex-direction: row;
  margin: 0 auto;
}
.index-nav li{
  font-size: 15px;
  margin-right: 47px;
  color: #c1c1c1;
}
.index-nav li a{
  display: block;
  height: 51px;
  line-height: 51px;
}
.index-nav li a.current{
  color: #31c27c;
}
/* 主页导航区 end */

/* 侧边栏回到顶部标签 */
#side-btn {
  font-size: 14px;
}
.side-gotop::before {
  margin: 14px 10px;
  display: block;
  content: "";
  width: 18px;
  height: 10px;
  background-image: url("../images/icon_sprite.png");
  background-position: -160px 0;
}
.side-player::before {
  margin: 11px 9px;
  display: block;
  content: "";
  width: 20px;
  height: 18px;
  background-image: url("../images/icon_sprite.png");
  background-position: -180px 0;
}

/* 当屏幕尺寸小于1240时将版心防止版心大小超过范围，同时调整margin */
@media (max-width: 1240px) {
  .w {
    min-width: 900px;
    margin: 0 50px;
  }
}


